<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 引入公共模板 -->
    <include resource="logback-common.xml"/>

    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>
</configuration>